extends layout

block content

    br
    br
    .container
        h4 Here is the Result:
        br

        //- h2 !{param1}
        p !{error}
        p  Resource: !{resource}

    //- button.btn.btn-success Request for resource